<% errors = resource.errors %>
<% if errors.any? %>
  <div class="alert alert-danger">
    <%= t("plural.error", count: errors.count) %>:

    <ol>
      <% errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ol>
    <div class="position-absolute top-0 start-100 translate-middle">
      <i type="button" class="bi bi-x-circle-fill" data-bs-dismiss="alert" aria-label="close"></i>
    </div>
  </div>
<% end %>
