<h1>События</h1>

<div class="row buffer-bottom mt-3">
  <%= render partial: 'events/event', collection: @events %>
</div>

<div class="buffer-both mt-5">
  <%= link_to 'Создать событие', new_event_path, class: 'btn btn-success' %>
</div>
