<div class="mt-3 subscription psn-rltv">
  <% if subscription.user.present? %>
    <%= render partial: "users/user", object: subscription.user %>
  <% else %>
    <em><%= subscription.user_name %></em>
  <% end %>
  <% if current_user_can_edit?(subscription) %>
    <%= button_to event_subscription_path(subscription.event, subscription),
    method: :delete,
    data: { confirm: t("subscriptions.subscription.destroy_confirm"), 
    turbo_confirm: t("subscriptions.subscription.destroy_confirm") }, 
    class: "btn btn-outline-danger position-absolute top-50 start-100 translate-middle bi bi-x-circle-fill" do %>
    <% end %>
  <% end %>
</div>
